<header class="site-header" role="banner">
  <div class="wrapper">
    <div class="site-header-inner">
      <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

      <nav class="site-nav">
        <a class="page-link" href="{{ "/about/" | relative_url }}">Sobre</a>
        <a class="page-link" href="{{ "/arquivo/" | relative_url }}">📚 Arquivo</a>
        <a class="page-link" href="{{ "/buscar/" | relative_url }}">🔍 Buscar</a>
      </nav>
    </div>
  </div>
</header>
